.head-text
{color: white; background: #0079bc;padding: 10px;border-radius: 10px;box-shadow: 1px 0px 7px 2px #296192;text-align: center;}
.right-part
{
margin-top: 10px;
}
 
.p-intro
{
margin-top : 20px;
   font-size: 17px;
}
#wrapper {
    border: 5px solid #0079bc;
    margin-top: 20px;
    border-radius: 15px;
}
 
.part {
    padding: 1px;
    background: #0079bc;
}
.p-part {
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    margin: 5px 5px 0px 5px;
    font-weight: bold;
}
.intro-list1{
margin-top: 5%;
font-size: 17px;
}
li:before {
  content: '\f006';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #0074D9;
}
ul,
li {
list-style: none;
font-size: 17px;
}
@media screen and (min-width : 769px )
{
#wrapper>div>div.col-md-4> img
{
margin-left : -20px;
}
}
  
  .left-part img{max-width: 450px;}
  
  .intro-list li:before{
	      content: '\f006';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    color: #fff;}
  .intro-list ul li:before{
	      content: '\f006';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    color: #0074D9;}
	.preview img {
    max-width: 100%;
}